
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    font-family: "poppins",-apple-system,BlinkMacSystemFont,Roboto,"Arial",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
    }
/* for navbar */
#navbar {
    position: sticky;
    display: flex;
    width: 87%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    padding-left: 80px;
    padding-right: 100px;
    z-index: 1000;
    
    }
    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
    
    }
    
    .sticky + .content {
    padding-top: 60px;
    
    }
    #navbar img{
    width: 100%;
    }
    #navbar >div{
    width: 180px;
    }
    #navbar a{
    margin: auto;
    text-decoration: none;
    
    }
    #navbar p{
    font-size: 17px;
    
    color: rgb(56, 55, 55);
    font-weight: bold;
    cursor: pointer;
    
    }
    #navbar>a:nth-child(9)>p{
    height: 45px;
    width: 120px;
    color: #f6f9fc;
    background-color: #0f1b29;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #navbar>a:nth-child(8)>p{
    margin-left: 100px;
    }
    #navbar div{
    margin-right: 50px;
    cursor: pointer;
    }


    /* for popup manu */
    
    .pricemenu{
        display: flex;
        width: 90%;
        padding: 10px;
        margin-right: 70px;
        display: none;
        
    }
    .pricemenu>div{
        width: 10%;
        margin: auto;
    }
    .pricemenu>div:first-child{
        width: 400px;
        text-align: center;
    }
    .pricemenu>div:first-child~div>p:first-child{
             color: #ff0077;
             text-align: center;
             line-height: 8px;
             font-weight: 700;
    } 
    .pricemenu>div:first-child~div>p:nth-child(2){
        color: rgb(96, 86, 86);
        font-weight:bold;
        text-align: center;
    }
    .pricemenu>div:first-child~div>button{
        width: 100%;
        height: 40px;
       border-radius: 7px;
       background-color: #0f1b29;
       color: white;
       font-weight: bolder;
       margin-top: 10px;
       border: 0px;
       cursor: pointer;
       transition: 0.5s;
    }
    .pricemenu>div:first-child~div>a>button{
        width: 100%;
        height: 40px;
       border-radius: 7px;
       background-color: #ff0077;
       color: white;
       font-weight: bolder;
       margin-top: 10px;
       border: 0px;
       cursor: pointer;
       transition: 0.5s;
    }

    .content {
        padding: 16px;
      }
      
      /* The sticky class is added to the navbar with JS when it reaches its scroll position */
      .sticky {
        position: fixed;
        top: 0;
        width: 90%;
         display: flex;  
         background-color: #ffffff;
      }
     
      

/* CSS FOR MAIN PRICE SECTION  */

#plan{
    display: flex;
    width: 90%;
    padding: 10px;
    margin-right: 70px;
    margin-top: 100px;
}
#plan>div{
    width: 10%;
    margin: auto;
   
}

#plan>div:first-child{
    width: 400px;
    text-align: center;
}
#plan>div:first-child~div>p:nth-child(2){
         color: #ff0077;
         text-align: center;
         line-height: 8px;
         font-weight: 500;
} 
#plan>div:first-child~div>p:nth-child(3){
    color: rgb(96, 86, 86);
    font-weight:bold;
    text-align: center;
}
#plan>div:first-child~div>button{
    width: 110%;
    height: 45px;
   border-radius: 7px;
   background-color: #0f1b29;
   color: white;
   font-weight: bolder;
   margin-top: 10px;
   border: 0px;
   cursor: pointer;
   transition: 0.5s;
   font-size: 15px;
}
#plan>div:first-child~div>a>button{
    width: 110%;
    height: 45px;
   border-radius: 7px;
   background-color: #ff0077;
   color: white;
   font-weight: bolder;
   margin-top: 10px;
   border: 0px;
   cursor: pointer;
   transition: 0.5s;
}
#plan img{
    width: 40%;
    
}
#plan>div:first-child~div>div{
    display: flex;
    justify-content: center;
}


/* for correct */
.user{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    
}
.user img{
    width: 4%;
    margin-right: 20px;
}
.avalable{
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
.avalable>div:nth-child(odd){
    background-color: #fafbff;
}
.avalable>div{
    display: flex;
}
.avalable p{
    color: #303131;
    font-size: 16px;
    width: 10%;
}
.avalable>div>p:first-child{
    width: 400px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.avalable>div>p:first-child~p{
    display: flex;
    margin: auto;
    font-size: 17px;
}


/* CSS FOR FAQ PART */

.faq{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #bfbebf;
    padding: 0px 10px;
    border-radius: 5px;
    
}
.ques{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.ques >h3{
    font-weight: 600;
    font-size: 17px;
    color: #303131;
}
.ans{
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;

}
.ans p{
    overflow: hidden;
    
}


.faq.active .ans{
    max-height:300px;
}

faq.active i{
    transform: rotate(180) ;
}
#fa{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
   
}

/* for footer */
#foot{
    margin-top: 150px;
    height: 500px;
    background-color: #0f1b29;
}
#media{
    width: 80%;
    margin: auto;
    padding-top: 70px;
    
   
}
#media img{
    width: 4%;
}
#media img:hover{
    opacity: 50%;
}

#media i{
    margin-left: 40px;
    color: #aaafb3;
    font-size: 23px;
}
#media i:hover{
    color: aliceblue;
}

#footp2{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
#footp2>div{
    width: 15%;
    margin: auto;
}
#footp2 p{
    color: #8e949a;
    font-size: 18px;
    font-weight: 500;
}
#footp2 p:hover{
    color: white;
    cursor: pointer;
}
#footp2 div{
    margin-top: 0px;
}
#footp2 a:hover{
      color: crimson;
}
#footp2 a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
}
#creater{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
}
#creater>p{
    color: green;
}
#creater span{
    color: teal;
}
